{%- assign carousel-items = site.data.master-conversations -%}

{% capture loop-length %}{% for clip in carousel-items %}{% if clip.lastname == page.last-name %}{{forloop.length}}{% endif %}{% endfor %}{% endcapture %}

<script> 
    var carouselItems = [ {% for clip in carousel-items %}{% if clip.lastname == page.last-name %}{ "quote": "{{ clip.comments }}", "shortquote": "{{ clip.comments | truncatewords: 5,''| remove: "<b>" | remove: "</b>" | url_param_escape  }}","name": "{{ clip.firstname }} {{ clip.lastname }}" }{% unless forloop.last %}, {% endunless %}{% endif %}{% endfor %}];
    var carousel = document.getElementById("carouselInner");
    var numquotes = carouselItems.length;
    carouselItems.sort(function() { return 0.5 - Math.random() });
    var i;
    for (i=0; i < numquotes; i++) {
        slide = "<div class='carousel-item text-center bg-light text-dark'><h2><a style='color:black' href='transcripts/{{page.object-id}}.html#" + carouselItems[i].shortquote +"'>" + carouselItems[i].quote +"</h2></div> </div>";
        carousel.innerHTML += slide; };
    $(".carousel-item").first().addClass("active");
    
</script>
