<script>
    const url = new URL(window.location);
    const params = url.searchParams;

function codeFilter(x) {
      console.log(x);
      $("rect").removeClass (function (index, className) {
return (className.match (/(^|\s)primary-\S+/g) || []).join(' ');
});    
     $("rect").addClass("black");
     $('a[tabindex=""]').filter(function() {return $(this).find('rect').length > 0;}).attr('tabindex', -1);
     $('svg[aria-pressed="true"]').attr('aria-pressed','false');
      $("circle").addClass("black");
      $("tr").find('a[tabindex="0"]').attr('tabindex', -1);
      $("tr").addClass("hidden");
      $("section.contentsdiv").addClass("hidden");
      $("section.vizdiv").addClass("hidden");
      $('rect.' + x).toggleClass("black").addClass("primary-" + x).parent('a').attr('tabindex', 0);
      $('circle.' + x).toggleClass("black").parent('svg').attr('aria-pressed','true');
      $('tr.' + x).toggleClass("hidden");
      $("tr").not('.hidden').closest('section.contentsdiv').removeClass("hidden");
      $("tr").not('.hidden').find('a[tabindex="-1"]').attr('tabindex', 0);
      $("rect").not('.black').closest('section.vizdiv').removeClass("hidden");
      //Add another parameter. 
      params.set('filter', x);
      console.log(params.toString());
      var p = params.toString();
      window.history.replaceState({}, '', location.pathname + '?' + p);
  }

  function vizFilter(x) {
$("rect").removeClass (function (index, className) {
return (className.match (/(^|\s)primary-\S+/g) || []).join(' ');
});    
      $("rect").addClass("dark");
      $('a[tabindex="0"]').filter(function() {return $(this).find('rect').length > 0;}).attr('tabindex', -1);            
      $('rect.' + x).toggleClass("dark").addClass("primary-" + x).parent('a').attr('tabindex', 0);      
      $("rect").not('.dark').closest('section.vizdiv').removeClass("hidden");
  }

  function interviewFilter(x) { 
      $("table").removeClass("hidden");
      $("svg").removeClass("hidden");
      $("table").not('.' + x).toggleClass("hidden");
      $("svg.chart").not('.' + x).toggleClass("hidden");
      $("h3").not('.' + x).toggleClass("hidden");
      //Add another parameter. 
      params.set('id', x);
      console.log(params.toString());
      var p = params.toString();
      window.history.replaceState({}, '', location.pathname + '?' + p);
  }

  $(".legend").click(function () {
      var cFilter = $(this).attr("data-id");
      codeFilter(cFilter);
  });
  $("h3.toggle_int").click(function () {
      var intFilter = $(this).attr("data-id");
      interviewFilter(intFilter);
  });
  $("#reset").click(function () {
      $("rect").removeClass("black");
      $('a[tabindex="0"]').filter(function() {return $(this).find('rect').length > 0;}).attr('tabindex', -1);
      $('svg[aria-pressed="true"]').attr('aria-pressed','false');
      $("circle").removeClass("black");
      $("tr").removeClass("hidden");
      $("table").removeClass("hidden");
      $("svg").removeClass("hidden");
      $("h3").removeClass("hidden");
      $("div").removeClass("hidden");
      $("section").removeClass("hidden");
      params.set('id', '');
      params.set('filter', '');
      window.history.replaceState({}, '', location.pathname);
  });

  $(document).ready(function () {
  let url = new URL(window.location);
  let params = url.searchParams;
  var itemfilter = url.searchParams.get('id');
  var datafilter = url.searchParams.get('filter');
  if (datafilter) {
      codeFilter(datafilter);
  }
  if (itemfilter) {
      interviewFilter(itemfilter);
  }
  // init tooltips
  $(function () {
      $('[data-toggle="tooltip"]').tooltip()
  });
});

document.addEventListener('DOMContentLoaded', function() {
    // Select all SVG elements with the role of 'button'
    var svgButtons = document.querySelectorAll('svg[role="button"]');

    // Function to simulate the click
    function triggerClick(event) {
        // Check if the key pressed is 'Enter' (13) or 'Space' (32)
        if (event.keyCode === 13 || event.keyCode === 32) {
            event.preventDefault();  // Prevent the default action to stop scrolling when pressing Space
            // Dispatch a new 'click' event
            var clickEvent = new MouseEvent('click', {
                view: window,
                bubbles: true,
                cancelable: true
            });
            event.currentTarget.dispatchEvent(clickEvent);
        }
    }

    // Add keydown listeners to each SVG button
    svgButtons.forEach(function(svg) {
        svg.addEventListener('keydown', triggerClick);
    });
});
</script>

