<footer class="navbar nav-light bg-light border-top mt-3">
  <div class="row py-1">
    <div class="col-md-4 pl-5 align-self-center">
      <a class="h3" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
      <p class="pl-3"><span class="text-muted">{{ site.description }}</span></p>
      <p>Questions: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    </div>
    <div class="col-md-4 align-self-center text-center">
      <p>{% include footer/logo-cdil.html %}</p>
      <p>{% include footer/icon-github.html %}</p>
    </div>
    <div class="col-md-4 align-self-center text-center">
      <div class="m-2">{% include footer/logo-whiting.html %}</div>
      <div class="m-2 pb-3">{% include footer/logo-class.html %}</div>
    </div>
  </div>
</footer>
