<style>
  .vl {
    border-left: 4px solid black;
    height: 100px;
  }
</style>

<footer class="navbar nav-light bg-light border-top mt-3">
  <div class="container py-3">
    <div class="row">
      <div class="col-md-12">
          <a class="h3" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
          <p class="pl-3"><span class="text-muted">{{ site.description }}</span></p>
          <p> a <a href="https://cdil.lib.uidaho.edu/">Center for Digital Inquiry and Learning (CDIL)</a> production</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <ul style="list-style-type:none">
        <li>Questions: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <br>
        <li> {% include icon-github.html %}</li>
        </ul>
      </div>
    </div>
  </div>
</footer>