<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | absolute_url }}">
<meta http-equiv="Content-Language" content="en-us" >

{% include head/page-meta.html %}

<!-- load style sheets -->
{% if page.layout == "homepage" %}<link rel="stylesheet" href="{{ '/assets/css/aos.css' | absolute_url }}">{%- endif -%}

<link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" type="text/css">
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
<script defer src="{{ '/assets/lib/fontawesome-free/js/all.min.js' | relative_url }}"></script>

<!-- load google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Lobster&display=swap" rel="stylesheet"> 
{% include head/filter-style.html %}
{% include matomo-analytics.html %}