<nav class="navbar {% if page.layout == 'homepage' %}sticky-top{% endif %} navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav pl-5 ml-auto">
            <ul class="navbar-nav pl-5 ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ '/' | relative_url }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ '/about.html' | relative_url }}">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Interviews</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ '/interviews/all.html' | relative_url }}">All</a>
                    {% for transcript in site.transcripts %}
                    <a class="dropdown-item" href="{{transcript.object-id}}.html">{{ transcript.first-name }} {{ transcript.last-name }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ '/visualizations.html' | relative_url }}">Visualizations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ '/contact.html' | relative_url }}">Contact</a>
            </li>
        </ul>
        </ul>
    </div>
    </div>
</nav>