<nav class="navbar {% if page.layout == 'home' %}sticky-top{% endif %} navbar-expand-lg bg-dark">
    <div class="container">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav pl-5 ml-auto">
            {% for nav in site.data.nav-configuration %}
            <li class="nav-item {% if page.url contains nav.stub %}active{% endif %}">
                <a class="nav-link" href="{{ nav.stub | relative_url }}">{{ nav.display-text }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    </div>
</nav>