  <!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
     <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

     <!-- Toggleable sidebar -->
     <div class="sidebar" id="sidebar">
       <div class="sidebar-item">
         <p>{{ site.description }}</p>
       </div>
     
       <nav class="sidebar-nav">
          <ul class="nav flex-column">
              <li class="nav-item">
                  <a class="nav-link sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
              </li>         
     
         {% comment %}
           The code below dynamically generates a sidebar nav of pages with
           `layout: page` in the front-matter. See readme for usage.
         {% endcomment %}
         <style>
            /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
     .dropdown-container {
         display: none;
         background-color: #262626;
         padding-left: 8px;
     }
            </style>
         {% assign pages_list = site.pages | sort:"url" %}
         {% for node in pages_list %}
           {% if node.title != null %}
             {% if node.layout != "search" %}
                {% if node.object-id != "interviews" %}
                <li class="nav-item">
                    <a class="nav-link sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | relative_url }}">{{ node.title }}</a>
                  </li>
               {% else %}
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle sidebar-nav-item{% if page.url == node.url %} active{% endif %} dropdown-btn" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ node.title }}</a>
                
                <div class="dropdown-container" >
                {% for transcript in site.transcripts %}
                <a class="dropdown-item nav-link sidebar-nav-item{% if page.url == node.url %} active{% endif %} ml-2" href="{{transcript.object-id | append: ".html" | prepend: "/interviews/" | relative_url}}">{{transcript.first-name}} {{transcript.last-name}}</a>
                {%endfor%}
            </div>
            
               {% endif %}
             {% endif %}
           {% endif %}
         {% endfor %}
          </ul>
         <a class="sidebar-nav-item" href="{{ site.github_repository }}">GitHub project</a>
       </nav>
     
       <div class="sidebar-item">
         <p>
           &copy; {{ site.time | date: '%Y' }}. All rights reserved.
         </p>
       </div>
     </div>
     
     <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
        
        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
            } else {
              dropdownContent.style.display = "block";
            }
          });
        }
        </script>