body {
    font-size:1.1em;
    font-family:'Noto Sans TC', Helvetica, arial, sans-serif;
    overflow-x: hidden;
}

.site-title {
    margin:20px;
    font-size:90px; 
    a {
        color:black;
    }
    font-family: 'Lobster', cursive;
}

/* narrow text block for page-narrow layout */
.page-narrow {
    max-width: 700px !important;
}