
.site-title{
    margin:20px;
    font-size:90px; 
    a{color:black;}
    font-family: 'Lobster', cursive;
}
.person-name{
  margin:10px;
  font-size:60px; 
  a{color:black;}
  font-family: 'Lobster', cursive;
}

.question{
  margin:5px;
  font-size:30px; 
  font-family: 'Lobster', cursive;
}
.hiderow{display:none;}

@media print {
    
      html, body {
        height:100%; 
        margin: 0 !important; 
        padding: 0 !important;
        overflow: visible;
        display:block;
      }

      .transcript-content{
          height:auto;
          min-height:5000px;
          overflow:visible;
          display:block;
      }
    
    }

    td{vertical-align: top;padding:15px;}

  .timestamp{font-size:10px;}
  .grey {
    color: grey;
    height: 3px;
    width: 80%;
    line-height: 2px;
    float:left;
    margin-bottom:1px; 
    overflow: hidden;
    cursor:pointer;
}
  .featured{display:block;float:none; clear:both;}
 .line{display: block; font-size:8px; float:left;width:100px;}
 .grey .words, .grey .timestamp, .grey .speaker, .grey .line {
    display: inline;
    font-size: 3px;
    padding: 0px 5px;
}

.filteroptions, .searchinput{font-size:24px; 
    @include media-query($on-palm) { font-size:18px;}}
    
.notes-container{
list-style:disc;
    li{margin:10px 0px;}
}

.clip-highlight{font-size:20px;}

.left-text-box{position: relative;
	background: #6c757d !important;
	border-radius: .4em;
}

.left-text-box:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 36px solid transparent;
	border-top-color: #6c757d !important;
	border-bottom: 0;
	border-left: 0;
	margin-left: -18px;
	margin-bottom: -36px;
}
.right-text-box{
        position: relative;
        background: #223e56;
        border-radius: .4em;
    }
    
    .right-text-box:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 36px solid transparent;
        border-top-color: #223e56;
        border-bottom: 0;
        border-right: 0;
        margin-left: -18px;
        margin-bottom: -36px;
    }
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
   
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    @include media-query($on-palm){
        opacity:0;
    }
}
.people-img-container{max-width: 500px;}
.people-img{     max-height: 500px;
    overflow: hidden;}

    .carousel-item{height: 350px;overflow:hidden;}

        /* Tooltip */
        .tooltip > .tooltip-inner {
          font-size:16px;
          max-width: 500px !important;
          @include media-query($on-palm){
            max-width: 300px !important;
            font-size:11px;
        }
       }

/* Sidebar */
/*
 * Sidebar
 *
 * The sidebar is the drawer, the item we are toggling with our handy hamburger
 * button in the corner of the page.
 *
 * This particular sidebar implementation was inspired by Chris Coyier's
 * "Offcanvas Menu with CSS Target" article, and the checkbox variation from the
 * comments by a reader. It modifies both implementations to continue using the
 * checkbox (no change in URL means no polluted browser history), but this uses
 * `position` for the menu to avoid some potential content reflow issues.
 *
 * Source: http://css-tricks.com/off-canvas-menu-with-css-target/#comment-207504
 */

/* Style and "hide" the sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -18rem;
    width: 18rem;
    visibility: hidden;
    overflow-y: auto;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: .875rem; /* 15px */
    color: rgba(255,255,255,.6);
    background-color: #202020;
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
  }
  @media (min-width: 30em) {
    .sidebar {
      font-size: .75rem; /* 14px */
      right: -24rem;
      width: 24rem;
    }
  }
  
  /* Sidebar content */
  .sidebar a {
    font-weight: normal;
    color: #fff;
  }
  .sidebar-item {
    padding: 1rem;
  }
  .sidebar-item p:last-child {
    margin-bottom: 0;
  }
  
  /* Sidebar nav */
  .sidebar-nav {
    border-bottom: 1px solid rgba(255,255,255,.1);
  }
  .sidebar-nav-item {
    display: block;
    padding: .5rem 1rem;
    border-top: 1px solid rgba(255,255,255,.1);
    font-size:17px;
  }
.dropdown-item{font-size:14px;}
.dropdown-item:focus, .dropdown-item:hover {
  color: #fff;}

  .sidebar-nav-item.active,
  a.sidebar-nav-item:hover,
  a.sidebar-nav-item:focus {
    text-decoration: none;
    background-color: rgba(255,255,255,.1);
    border-color: transparent;
  }
  
  @media (min-width: 48em) {
    .sidebar-item {
      padding: 1.25rem;
    }
    .sidebar-nav-item {
      padding-left:  1.25rem;
      padding-right: 1.25rem;
    }
  }
  
  /* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */
  .sidebar-checkbox {
    position: absolute;
    opacity: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  
  
  /* Style the `label` that we use to target the `.sidebar-checkbox` */
  .sidebar-toggle {
    position: absolute;
    top:  2rem;
    right: 2rem;
    display: block;
    padding: .25rem .75rem;
    color: #505050;
    background-color:transparent;
    border-radius: .25rem;
    cursor: pointer;
  }
  
  .sidebar-toggle:before {
    display: inline-block;
    width: 2.5rem;
    height: 2.15rem;
    content: "";
    background-image: -webkit-linear-gradient(to bottom, #555, #555 20%, transparent  20%, transparent 40%, #555 40%, #555 60%, transparent  60%, transparent  80%, #555 80%, #555 100%);
    background-image:    -moz-linear-gradient(to bottom, #555, #555 20%, transparent  20%, transparent 40%, #555 40%, #555 60%, transparent  60%, transparent  80%, #555 80%, #555 100%);
    background-image:     -ms-linear-gradient(to bottom, #555, #555 20%, transparent  20%, transparent 40%, #555 40%, #555 60%, transparent  60%, transparent  80%, #555 80%, #555 100%);
    background-image:         linear-gradient(to bottom, #555, #555 20%, transparent  20%, transparent 40%, #555 40%, #555 60%, transparent  60%, transparent  80%, #555 80%, #555 100%);
  }
  
 
  #sidebar-checkbox:checked ~ .sidebar-toggle {
    color: #fff;
    background-color: #555;
    padding-top:8px;
  }
  

  #sidebar-checkbox:checked ~ .sidebar-toggle:before {
    background-image: -webkit-linear-gradient(to bottom, #fff, #fff 20%, #555 20%, #555 40%, #fff 40%, #fff 60%, #555 60%, #555 80%, #fff 80%, #fff 100%);
    background-image:    -moz-linear-gradient(to bottom, #fff, #fff 20%, #555 20%, #555 40%, #fff 40%, #fff 60%, #555 60%, #555 80%, #fff 80%, #fff 100%);
    background-image:     -ms-linear-gradient(to bottom, #fff, #fff 20%, #555 20%, #555 40%, #fff 40%, #fff 60%, #555 60%, #555 80%, #fff 80%, #fff 100%);
    background-image:         linear-gradient(to bottom, #fff, #fff 20%, #555 20%, #555 40%, #fff 40%, #fff 60%, #555 60%, #555 80%, #fff 80%, #fff 100%);
  }
  
  @media (min-width: 30.1em) {
    .sidebar-toggle {
      position: fixed;
    }
  }
  
  @media print {
    .sidebar-toggle {
      display: none;
    }
  }
  
  /* Slide effect
   *
   * Handle the sliding effects of the sidebar and content in one spot, seperate
   * from the default styles.
   *
   * As an a heads up, we don't use `transform: translate3d()` here because when
   * mixed with `position: fixed;` for the sidebar toggle, it creates a new
   * containing block. Put simply, the fixed sidebar toggle behaves like
   * `position: absolute;` when transformed.
   *
   * Read more about it at http://meyerweb.com/eric/thoughts/2011/09/12/.
   */
  
  .wrap,
  .sidebar,
  .sidebar-toggle {
    -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .wrap,
  .sidebar-toggle {
    -webkit-transition: -webkit-transform .3s ease-in-out;
            transition: transform .3s ease-in-out;
  }
  
  #sidebar-checkbox:checked + .sidebar {
    z-index: 10;
    visibility: visible;
  }
  #sidebar-checkbox:checked ~ .sidebar,
  #sidebar-checkbox:checked ~ .wrap,
  #sidebar-checkbox:checked ~ .sidebar-toggle {
    -webkit-transform: translateX(-18rem);
        -ms-transform: translateX(-18rem);
            transform: translateX(-18rem);
  }
  
  @media (min-width: 30em) {
    #sidebar-checkbox:checked ~ .sidebar,
    #sidebar-checkbox:checked ~ .wrap,
    #sidebar-checkbox:checked ~ .sidebar-toggle {
      -webkit-transform: translateX(-24rem);
          -ms-transform: translateX(-24rem);
              transform: translateX(-24rem);
    }
  }