---
layout: page
---
{% if page.object-id == 'all' %}
{% assign transcripts = site.data.transcripts %}
{%capture avsources%}{% for y in site.transcripts %}{{ y.av_source }};{% endfor %}
{% endcapture %}
{% assign avlinks-list = avlinks | split: ";" %}
{% else %}
{% assign items = site.data.transcripts[page.object-id] %}
{%- comment -%} find all words used in the subject metadata {%- endcomment -%}
{%- assign min-count = 1 -%}
{%- assign raw-subjects = items | map: "tags" | compact | join: ";" | split: ";" -%}
{%- capture subjects -%}{% for s in raw-subjects %}{% if s != "" %}{{- s | strip -}};{% endif %}{%- endfor -%}{%-
endcapture -%}
{%- assign subjects = subjects | split: ";" -%}
{%- assign uniqueSubjects = subjects | uniq | sort -%}
{%endif%}
<div class="container">
  <div class="row my-5">
    <div class="col-md-6 text-center">

      <div class="people-img-container py-3">
        {% if page.image == "n" %}
        <img class="img-fluid people-img" alt="stock image of rodeo horse" src="{{ 'stock' | prepend: 'images/people/' | relative_url}}.jpg">
        {% else %}
        <img class="img-fluid people-img" alt="image of {{ page.first-name }}" src="{{ page.object-id | prepend: 'images/people/' | relative_url}}.jpg">
        {% endif %}
      </div>


    </div>
    <div class="col-md-6 text-center">
      <h1 class="person-name">{{ page.first-name }} {{ page.last-name }}</h1>
      <p>{{content}}</p>
      {% if page.object-id != "all" %}
      <p class="lead"><strong>Interview Location: {{ page.location }}</strong></p>
      <p class="mb-4 lead"><strong>Date: {{ page.date-interviewed }} | Interviewer: {{ page.interviewer }}</strong></p>
      <!--<a class="btn btn-lg btn-dark mt-4" href="transcripts\{{ page.object-id }}.html">Go to Transcript</a>-->

      {% endif %}
      <a class="btn btn-lg btn-dark mt-4" href="#transcript">Go to Transcript</a>

    </div>
  </div>


  <div class="row mt-4">

    {% for clip in site.data.master-conversations %}
    {% if clip.lastname == page.last-name and clip.firstname == page.first-name %}
    <div class="row">
      <div class="col-md-3">
        {% for conversation in site.data.conversation-filters %}
        {% if clip.tag contains conversation.tag %}
        <h4 class="text-right question mt-5">{{ conversation.question }}</h4>
        {% endif %} {% endfor %}
      </div>
      <div class="col-md-9">
        <div class="{{clip.tag}} card col-md-6 my-5 border border-secondary text-white {% cycle 'offset-md-4 bg-secondary  left-text-box ', 'offset-md-3 right-text-box' %}" data-aos="{% cycle  'zoom-in-right', 'zoom-in-left'%}">
          <div class="card-body">
            <p class="card-text"><a class="text-white clip"
                href="?line={{ clip.line }}">
                {{clip.comments }}</a> </p>
            <p class="text-right h5">-{{clip.firstname}} {{clip.lastname}}</p>
          </div>
        </div>
      </div>
    </div>
    {%endif%}
    {%endfor%}



  </div>


  {% include transcript.html %}
</div>


